.podcastCard{
    row-gap: 15px;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    padding: 15px;
    background-color: rgb(36, 35, 35);
    width: fit-content;
    height: fit-content;
}

.podcastCard:hover{
    background-color: rgb(61, 61, 61);
    transition-duration: 800ms;
}

.podcastCard > img{
    height: 200px;
    width: 200px;
    border-radius: 6px;
    object-fit: cover;
}
h3, h5{
    margin: 0px;
}