.iconTextButton{
    column-gap: 15px;
    align-items: center;
    display: flex;
}

.iconbutton_title{
    font-weight: 700;
    color: gray;
}

.iconbutton_title:hover{
    color: white;
    cursor: pointer;
}