.sideBar{
    position: sticky;
    top:0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 10px 20px;
    background-color: black;
    flex:0.1;
    min-width: 210px;
    row-gap: 40px;
    height: 100vh;
}

hr{
    border: 0.1px solid gray;
    width: 100%;
    
}

.sideBar_icons{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.sideBar_heading{
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 30px;
    font-weight: 600;
}

.sideBar_heading > img{
    object-fit: contain;
}

.sideBar_textButton > p{
    color: gray;
    font-size: 14px;
}

.sideBar_textButton >p:hover{
    color: white;
    cursor: pointer;
}